.card {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  max-width: 200px;
  /* max-height: 500px; */
}

.card-img {
  height: 200px;
  border-radius: 10px;
}

.card-details {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: space-between;
  height: 100%;
}

.card-details-desc {
  font-weight: 400;
  font-size: 0.875rem;
  color: #797a7c;
}

.card-details-desc__name {
  font-weight: 600;
  color: #141515;
}

.card-details-price {
  font-weight: 600;
  font-size: 1rem;
  color: #141515;
}
