.notif-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5em;
  border-bottom: 1px solid rgb(240, 240, 240);
  padding: 1em 1.5em;
  /* background-color: blue; */
}

.notif-card:last-child {
  border-bottom: none;
}

.notif-details {
  display: flex;
  flex-direction: column;
  width: 90%;
  gap: 0.2em;
}

.notif-icon {
  align-self: start;
}

.notif-title {
  font-weight: 600;
  font-size: 1rem;
  color: #141515;
}

.notif-desc {
  font-weight: 500;
  font-size: 0.9rem;
  color: #797a7c;
}

.delete-btn {
  /* display: none; */
  visibility: hidden;
  background: none;
  border: none;
  cursor: pointer;
  align-self: start;
}

.notif-card:hover > .delete-btn {
  visibility: visible;
}
