.notifs-container {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 10px;
  max-width: 29em;
  /* grid-column: 2;
  grid-row: 1 / 4; */
  /* gap: 1em; */
  /* padding: 1.5em; */
}
