.provar-container {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 1.5em;
  display: flex;
  flex-direction: column;
  max-width: 29em;
  gap: 0.8em;
}

.provar-header {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.brand-logo {
  width: 30px;
}

.brand-name {
  font-weight: 550;
  font-size: 1.2rem;
  color: #0c0d0d;
}

.provar-title {
  font-weight: 600;
  font-size: 1.6rem;
  color: #0c0d0d;
}

.provar-prices {
  display: flex;
  align-items: center;
  gap: 1em;
}

.provar-new-price {
  font-weight: 600;
  font-size: 1.4rem;
  color: #141515;
}

.provar-old-price {
  color: #b3b3b4;
  text-decoration: line-through;
  font-size: 1.1rem;
  font-weight: 500;
}

.provar-sizes {
  display: flex;
  justify-content: space-between;
  gap: 1em;
}
