.proqty-container {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 1em;
  display: flex;
  align-items: center;
  max-width: 29em;
  gap: 2em;
  overflow: hidden;
  /* grid-column: 1;
  grid-row: 3 / 5; */
}

.proqty-img-container {
  min-width: 170px;
  max-height: 170px;
  position: relative;
}

.proqty-img {
  width: 100%;
  height: 100%;
  border-radius: 7px;
  object-fit: cover;
}

.proqty-discount {
  position: absolute;
  right: 5px;
  bottom: 5px;
  background-color: #0bada2;
  padding: 4px 14px;
  border-radius: 7px;
  color: #ffffff;
}

.proqty-details {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 1.5em;
  padding: 0.5em 0;
}

.proqty-desc {
  font-weight: 500;
  font-size: 1rem;
  color: #797a7c;
}

.proqty-desc__name {
  font-weight: 600;
  color: #141515;
}

.proqty-counter {
  border: 2px solid #ececed;
  border-radius: 7px;
  max-width: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8em;
}

.proqty-counter > img {
  cursor: pointer;
}

.counter {
  font-weight: 600;
}

.proqty-prices {
  display: flex;
  gap: 1em;
  align-items: center;
}

.proqty-new-price {
  font-weight: 600;
  font-size: 1.2rem;
  color: #141515;
}

.proqty-old-price {
  color: #b3b3b4;
  text-decoration: line-through;
  font-size: 1rem;
  font-weight: 500;
}
