.sizes-btn {
  border-radius: 7px;
  width: 90px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 1rem;
  color: #0c0d0d;
}

/* #btn-active {
  border: 2px solid #4c4d4d;
}

.btn-available {
  border: 2px solid #ececed;
}

.btn-notavailable {
  border: 2px solid #f6f6f6;
} */
