* {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
p,
ul {
  margin: 0;
}

body {
  font-family: "Karla", "Inter", sans-serif;
  background-color: #d7d8df;
}

.App {
  /* display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 2em; */
  /* background-color: red; */
  max-width: fit-content;
  margin: 1.5em auto;
  display: flex;
  flex-direction: column;
  gap: 2em;
}
